@import "tailwindcss";

:root {
  --background: #F2F4F7;
  --foreground: #1D2939;
  --primary: #4186F4;
  --secondary: #667085;
  --danger: #fb2c36;
  --gray-soft: #DEE2E6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-gray-soft: var(--gray-soft);
  --font-sans: Arial, Helvetica, sans-serif;
  --shadow-custom-sm: 0px 0.5px 2px 0px #1018284D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}